.group {
    display: flex;
    gap: 0.5rem;
}
.group-vertical {
    flex-direction: column;
    gap: 1rem;
}

/* Indentation for nested groups */
.group-vertical > .group-vertical {
    margin-block: 1rem;
    margin-inline: 1rem;
}
