<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta name="theme-color" content="#000000" />

        <link rel="manifest" href="./manifest.json" />

        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
        <meta
            name="apple-mobile-web-app-title"
            content="<%= htmlWebpackPlugin.options.gameName %>"
        />
        <meta name="msapplication-starturl" content="./" />

        <link rel="icon" type="image/png" sizes="192x192" href="./icons/logo-192.png" />
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/logo-192.png" />

        <link rel="icon" type="image/png" sizes="512x512" href="./icons/logo-512.png" />
        <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/logo-512.png" />

        <link rel="shortcut icon" href="./icons/favicon.ico" type="image/x-icon" />

        <title><%= htmlWebpackPlugin.options.gameName %></title>
        <style>
            :root {
                color-scheme: dark;
            }
            html,
            body {
                height: 100%;
                margin: 0;
                background-color: #000000;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
                    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
            }
        </style>

        <noscript>Please enable javascript to continue using this application.</noscript>

        <!-- installs the serviceWorker -->
        <!-- https://github.com/dfabulich/service-worker-refresh-sample/blob/master/index.html -->
        <% if (!htmlWebpackPlugin.options.dev){ %>
        <script>
            const showRefreshUI = (registration) => {
                var button = document.createElement("button");
                button.style.position = "absolute";
                button.style.bottom = "24px";
                button.style.left = "24px";
                button.style.zIndex = 1000;
                button.textContent = "Update was found. Please click here to refresh.";

                button.addEventListener("click", () => {
                    // Just to ensure registration.waiting is available before
                    // calling postMessage()
                    if (!registration.waiting) return;

                    button.disabled = true;

                    registration.waiting.postMessage("skipWaiting");
                });

                document.body.appendChild(button);
            };
            const onNewServiceWorker = (registration, callback) => {
                // SW is waiting to activate. Can occur if multiple clients open and
                // one of the clients is refreshed.
                if (registration.waiting) return callback();

                const listenInstalledStateChange = () => {
                    registration.installing.addEventListener("statechange", (event) => {
                        // A new service worker is available, inform the user
                        if (event.target.state === "installed") callback();
                    });
                };

                if (registration.installing) return listenInstalledStateChange();

                // We are currently controlled so a new SW may be found...
                // Add a listener in case a new SW is found,
                registration.addEventListener("updatefound", listenInstalledStateChange);
            };

            if ("serviceWorker" in navigator) {
                let refreshing;
                // When the user asks to refresh the UI, we'll need to reload the window
                navigator.serviceWorker.addEventListener("controllerchange", function (event) {
                    if (refreshing) return; // prevent infinite refresh loop when you use "Update on Reload"
                    refreshing = true;
                    console.log("Controller loaded");
                    window.location.reload();
                });

                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("./sw.js").then((registration) => {
                        // The window client isn't currently controlled so it's a new service
                        // worker that will activate immediately
                        if (!navigator.serviceWorker.controller) return;

                        registration.update();

                        onNewServiceWorker(registration, () => {
                            showRefreshUI(registration);
                        });
                    });
                });
            }
        </script>
        <% } %>
    </head>
    <body>
        <div id="phaser-game" />
    </body>
</html>
